@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,300;0,400;0,500;0,600;1,700&display=swap");

* {
  margin: 0px;
  padding: 0px;
}

body {
  font-family: "Poppins", sans-serif;
  font-weight: 400;
}
@import "./helper.scss";

// Page Styles
@import "pages/home.scss";
@import "pages/login.scss";

// Component Styles
// @import "pages/home.scss";

// Layout Styles
// @import "pages/home.scss";
